#passwordMessage {
  display: none;
}
.valid {
  color: green;
}
.valid:before {
  position: relative;
  content: "✔️";
}
.invalid {
  color: red;
}
.invalid:before {
  position: relative;
  content: "❌";
}
