#passwordMessage {
  display: none;
}
.valid {
  color: green;
}
.valid:before {
  position: relative;
  content: '✔️';
}
.invalid {
  color: red;
}
.invalid:before {
  position: relative;
  content: '❌';
}

.full-height {
  min-height: calc(100vh - 75px);
}

#admin-list {
  max-height: 600px;
  overflow-y: auto;
}
